`
<h1 style="text-align: center;">Show Data</h1>
<div class="container_th">
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%for (let chat of chats) {%>
                <tr>
                    <td><%= chat.fname %></td>
                    <td><%= chat.lname %></td>
                    <td><%= chat.email %></td>
                    <td><%= chat.phone %></td>
                    <td><%= chat.description %></td>
                    <td>
                        <form action="/show/<%= chat.id %>/edit" method="get">
                            <button class="button_btn">Edit</button>
                        </form>
                        <form action="/show/<%= chat.id %>?_method=DELETE" method="post">
                            <button class="button_btn" style="margin-top: 5px;background-color: red;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

